.side-bar {
  box-sizing: border-box;
  height: $height-base;
  width: $side-bar-width;
  .header {
    background-color: $side-bar-header-background-color;
    height: $header-height;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      color: $color-base;
      font-size: 16px;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      list-style: none;
      .list {
        display: inline-block;
      }
      .icon {
        cursor: pointer;
        color: $color-base;
        font-size: 16px;
      }
    }
  }

  .groups {
    background-color: $side-bar-groups-background-color;
    padding: 0 20px;
    height: calc(100vh - 100px);
    .group {
      padding: 20px 0 40px;
      cursor: pointer;
      &__name {
        color: $color-base;
        font-size: 15px;
      }
      &__message {
        color: $color-base;
        font-size: 11px;
        margin: 5px 0 0;
      }
    }
  }
}
