@import "./reset";
@import "./variable";
@import " font-awesome ";

.notification {
  background-color: $notification-background-color;
  &__notice {
    color: $color-base;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  .side-bar {
    box-sizing: border-box;
    height: $height-base;
    width: $side-bar-width;
    .header {
      background-color: $side-bar-header-background-color;
      height: $header-height;
      line-height: 100px;
      padding: 0 20px;
      &__name {
        display: inline-block;
        color: $color-base;
        font-size: 16px;
        font-weight: bold;
      }
      &__lists {
        display: inline-block;
        float: right;
        list-style: none;
        .list {
          display: inline-block;
        }
         a {
          cursor: pointer;
         }
          .icon {
            color: $color-base;
            font-size: 16px;
          }
      }
    }
  }

  .groups {
    background-color: $side-bar-groups-background-color;
    padding: 0 20px;
    height: calc(100vh - 100px);
    .group {
      padding: 20px 0 40px;
      a {
        cursor: pointer;
      }
      &__name {
        color: $color-base;
        font-size: 15px;
      }
      &__message {
        color: $color-base;
        font-size: 11px;
        margin: 5px 0 0;
      }
    }
  }

  .chat {
    width: calc(100vw - 300px);

    .header {
      box-sizing: border-box;
      height: $header-height;
      padding: 0 40px;
      .left-header {
      float: left;
        &__title {
          font-size: 20px;
          margin-top: 35px;
        }
        &__members {
          display: flex;
          list-style: none;
          font-size: 12px;
          margin-top: 15px;
          opacity: 0.5;
        }
          .member {
            display: inline-block;
            padding-right: 5px;
          }
      }
      .right-header {
        border: 1px solid $right-header-color;
        color: $right-header-color;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;

        &__button {
          color: $right-header-color;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .messages {
      box-sizing: border-box;
      background-color: $messages-background-color;
      padding: 46px 40px 0;
      height: calc(100vh - 100px - 90px);
      overflow: scroll;
      .message {
        margin-bottom: 40px;
        .upper-message {
          display: flex;
          &__user-name {
            color: $upper-message__user-name-color;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: $upper-message__user-date-color;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .lower-message {
          margin-top: 10px;
          &__content {
            object-fit: contain;
            width: 200px;
            font-size: 14px;
          }
        }
      }
    }

    .form {
      box-sizing: border-box;
      background-color: $form-background-color;
      height: $form-height;
      padding: 20px 50px 20px 40px;
      &__message {
        @include message-form-templete;
        box-sizing: border-box;
        width: calc(100% - 150px);
        padding: 0 10px;
        border: none;
      }
      &__mask {
        @include message-form-templete;
        background-color: $color-base;
        padding-right: 10px;
      }
      &__mask__image {
        font-size: 20px;
        line-height: 50px;
      }
          .fa {
            display: inline-block;
          }
          .hidden {
            display: none;
          }
      &__submit {
        background-color: $send-button-color;
        color: $color-base;
        float: right;
        height: 50px;
        font-size: 16px;
        margin-left: 15px;
        padding: 0 30px;
        border: none;
      }
    }
  }
}
